.header{
    display: flex;
    width: 380px;
    transition-duration: 500ms;
    transform: translate(-260px);
}

.header:hover {
    transition-duration: 500ms;
    transform: translate(0);
}

.page {
    text-decoration: none;
    margin: 10px;
}

.page:hover {
    color: blue;
}

.active {
    color: tomato;
}

.menu {
    width: 40px;
    height: 20px;
    margin: 10px;
    background: greenyellow;
}