
.error {
    border: 1px solid red;
}

.errorMessage {
    color: red;
}

.item {
    display: flex;
    flex-direction: row;
    height: 100px;
}

.button {
    margin: 8px 5px;
}

.super_input {
    margin: 0 5px;
    display: flex;
    flex-direction: column;
}

.totalUsers {
    margin: 8px 5px;
    font-size: 30px;
    border: 2px solid #777674;
    height: 40px;
    width: 50px;
    border-radius: 15px;
    background-color: darkgray;
    text-align: center;
    vertical-align: middle;

}